# Default values for spark.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value

Spark:
  # Path: "/opt/spark"
  Path: "/usr/local/spark"

Image:
  PullPolicy: Always

Master:
  Name: master
  Image: "markthebault/spark"
  ImageTag: "2.4.4"
  Replicas: 1
  Component: "spark-master"
  Cpu: "100m"
  Memory: "512Mi"
  ServicePort: 7077
  ContainerPort: 7077
  # Set Master JVM memory. Default 1g
  # DaemonMemory: 1g
  coreLimit: 2
  # configOptions:

  nodeSelector: {}
  affinity: {}
    # podAntiAffinity:
    #   requiredDuringSchedulingIgnoredDuringExecution:
    #   - labelSelector:
    #       matchExpressions:
    #       - key: spark
    #         operator: In
    #         values:
    #         - worker
    #     topologyKey: "kubernetes.io/hostname"
 
  tolerations: []
  # - key: "sku"
  #   operator: "Equal"
  #   value: "spark"
  #   effect: "NoSchedule"

  securityContext:
    enabled: false
    fsGroup: 1001
    runAsUser: 1001    

  ServiceType: ClusterIP
  livenessProbe:
    enabled: true
    initialDelaySeconds: 60
    periodSeconds: 20
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1

#TODO: change that, it is only for the master
WebUi:
  Name: webui
  ServicePort: 8080
  ContainerPort: 8080

Worker:
  Name: worker
  Image: "markthebault/spark"
  ImageTag: "2.4.4"
  Replicas: 1
  Component: "spark-worker"
  Cpu: "100m"
  Memory: "512Mi"
  ContainerPort: 8081
  # Set Worker JVM memory. Default 1g
  # DaemonMemory: 1g
  # Set how much total memory workers have to give executors
  ExecutorMemory: 2g
  coreLimit: 2
  #SPARK_WORKER_OPTS
  configOptions:
  Autoscaling:
    Enabled: true
  ReplicasMax: 3
  CpuTargetPercentage: 65

  nodeSelector: {}
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: spark
            operator: In
            values:
            - worker
            - master
        topologyKey: "kubernetes.io/hostname"

  tolerations:
  - key: "sku"
    operator: "Equal"
    value: "spark"
    effect: "NoSchedule"

  securityContext:
    enabled: false
    fsGroup: 1001
    runAsUser: 1001    

  livenessProbe:
    enabled: false #TODO: put back to true
    initialDelaySeconds: 60
    periodSeconds: 20
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1

Proxy:
  name: uiproxy
  component: proxy
  image: markthebault/spark-ui-proxy:latest
  containerPort: 8080

  service:
    port: 9090
    type: LoadBalancer
    annotations: {}

  Ingress:
    Enabled: false
    Path: "/"
    Tls: []

  livenessProbe:
    enabled: true
    initialDelaySeconds: 60
    periodSeconds: 20
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1